{% extends "Parent.html" %}
{% block content %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-12">
            <div class="img">
                <img class="sub_img" src="/static/86th_Street_Second_Av._Subway_Station_Unveiled_(31863534822).jpg">
            </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="content-section">
            <h3>Our Data Predictions</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Predicrt # 1</li>
                <li class="list-group-item list-group-item-light">Predicrt # 2</li>
                <li class="list-group-item list-group-item-light">Predicrt # 3</li>
                <li class="list-group-item list-group-item-light">Predicrt # 4</li>
              </ul>
            </p>
          </div>
        </div> -->
      </div>
    </main>
{% endblock %}
