<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    

    <!-- {% if title %}
        <title>New Subway - {{ title }}</title>
    {% else %}
        <title> Subway</title>
    {% endif %} -->
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Pic 1</a>
              <a class="nav-item nav-link" href="/about">Pic 2</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/bottom_3">LeafLet</a>
              <a class="nav-item nav-link" href="/bottom_4"> Story </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-12">
          <!-- {% block content %}{% endblock %} -->
            <div class="img">
                <img class="tableau_img" src="/static/NY Dashboard.jpg">
            </div>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-8">
            <p class="caption"> This is the Tableau visialization 
              to see the story in Tableau prees 
              <a target="_blank" href="https://public.tableau.com/profile/ted.smiley.jr#!/vizhome/FinalProject_Presentation/NewYorkDashboard"> her </a>
            </p> 
          </div>
        </div>

      </div>
        
      

    

</body>